# Ignore node_modules for both client and server
node_modules/
client/node_modules/
server/node_modules/
server/output/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db

# Build outputs
dist/
build/
client/build/
server/dist/

# dotenv environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Misc
*.pem
*.crt
*.key

# VSCode settings
.vscode/
